- baseAPIURL = "http://localhost:5002/remote/"

doctype html
html
    head
        title Yamaha RAS13 Remote
    body
        p.greetings#people Hello!

        p
            a(href=baseAPIURL + "CD_POWER") CD Power
        p
            a(href=baseAPIURL + "MUTE") Mute
        