body {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
}

h3 {
    margin-left: 10px;
    margin-bottom: 0px;
}

button {
    /* background-color: #4CAF50; Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    min-width: 14rem;
    margin: 3px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
div {
    margin: 1rem;
    border-radius: 10px;
    width: 60%;
    padding: 0.5rem;
    background-color: rgb(221, 221, 221);
}

.cd {
}
.cd button {
    background-color: #555555;
    min-width: 5rem;
}

.input {
}
.input button {
    background-color: #008CBA;

}

.volume {

}

.volume button {
    background-color: #4CAF50;

}

.power {

}

.power button {
    background-color: #f44336;

}